.blog-cards {
  margin: 45px 0 150px;

  &__title {
    margin: 0 0 57px 0;
    text-align: center;

    > p {
      &:nth-of-type(1) {
        margin: 48px 0 0 0;
      }

      margin: 24px 0 0 0;

      strong {
        font-size: 16px;
        line-height: 24px;
        color: $color-royal-blue-800;
      }

      span {
        color: $color-punchy-green;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 24px -8px 16px;

      li {
        position: relative;
        padding: 0 0 0 32px;
        margin: 8px;
        width: calc((100% - (8px * 6)) / 3);
        text-align: left;

        &:before {
          content: '';
          position: absolute;
          top: 8px;
          left: 8px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $color-punchy-green-800;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -42px -15px;

    > li {
      margin: 42px 15px;
      width: calc((100% - (15px * 6)) / 3);
      @media (min-width: 1200px) {
        &:hover {
          .card {
            &__img {
              &:before {
                background-color: rgba($color-royal-blue-800, 0.5);
              }
            }

            .description {
              &__content {
                p {
                  strong {
                    opacity: .7;
                  }
                }
              }
            }
          }
        }
      }

      .card {
        display: flex;
        flex-direction: column;

        &._large {
          .card {
            &__img {
              height: 312px;
            }
          }
        }

        &__img {
          height: 224px;
          margin: 0 0 32px 0;
          position: relative;
          border-radius: 8px;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            transition: 500ms;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }

        .description {
          &__top {
            margin: 0 0 16px 0;
          }

          &__content {
            p {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
              font-size: 16px;
              line-height: 24px;
              font-weight: 400;
              color: $color-dark-gray-800;

              strong {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 24px;
                line-height: 32px;
                font-weight: 600;
                color: $color-royal-blue-800;
                transition: 500ms;
              }
            }

            p + p {
              margin: 16px 0 0 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .blog-cards {
    padding: 0 0 80px 0;
    margin: 45px 0;

    &__title {
      ul {
        margin: 12px -12px;

        li {
          margin: 12px;
          width: 100%;
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;

        strong {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    &__list {
      > li {
        width: calc((100% - (15px * 4)) / 2);
      }
    }
  }
}

@media (max-width: 567px) {
  .blog-cards {
    &.resources {
      .blog-cards {
        &__title {
          a {
            margin: 10px 0 0 0;
            width: 100%;
            text-align: right;
          }
        }
      }
    }

    &__list {
      > li {
        width: calc((100% - (15px * 2)));

        .card {
          &__img {
            height: 192px;
          }

          .description{
            &__content{
              p{
                strong{
                  font-size: 20px;
                  line-height: 32px;
                }
              }
            }
          }
        }
      }
    }
  }
}