.input-container {
  position: relative;

  &.checkbox {
    display: flex;

    &.styled {
      position: relative;

      input {
        border: none !important;
        appearance: none;
        padding: 0;

        &:before {
          content: '';
          cursor: pointer;
          position: absolute;
          top: 10px;
          left: 0;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          border: 2px solid $color-royal-blue-400;
          border-radius: 4px;
          transition: 500ms;
        }

        &:checked {
          &:after {
            content: '';
            cursor: pointer;
            position: absolute;
            top: 0px;
            left: 0;
            width: 20px;
            height: 20px;
            background-image: url("../img/check-w.svg");
            background-size: 12px 12px;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
          }

          &:before {
            border: 2px solid $color-royal-blue-800;
            background-color: $color-royal-blue-800;
          }
        }
      }
    }

    input {
      flex: 0 0 20px;
      height: 20px;
      margin: 0 16px 0 0;
      padding: 0;
    }

    p {
      font-size: 12px;
      line-height: 16px;
      color: $color-white;
      font-weight: 400;
    }
  }

  input, select {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 18px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid #D3D3D8;
    border-radius: 4px;
    background-color: $color-white;
    transition: 300ms;

    &::placeholder {
      color: $color-gray-secondary;
    }

    &:focus {
      border: 2px solid $color-punchy-green;

      //error validate classes
      &:invalid {
        border: 2px solid $color-bright-orange;
        color: $color-bright-orange;

        &::placeholder {
          color: rgba($color-bright-orange, 0.3);
        }
      }

      //finish error validate classes
    }
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;

    &:invalid{
      color: $color-gray-secondary;
    }

    [disabled]{
      color: $color-gray-secondary;
    }
  }

}

.input-wrapper {
  width: 100%;
  display: flex;

  .input-container {
    flex: 0 1 236px;
    margin: 0 16px 0 0;
  }

  .button {
    flex: 0 1 180px;
  }

  @media (max-width: 1023px) {
    flex-direction: column;

    .input-container {
      flex: initial;
      margin: 0 0 16px 0;
    }

    .button {
      flex: initial;
    }
  }
}

