* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1115px;
  padding: 0px 25px;
  margin: 0px auto;
  box-sizing: content-box;
}

.items-buttons {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  margin: -6px;
}

.items-buttons li {
  margin: 6px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #A2CB94;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #DDEFDD;
  white-space: nowrap;
}

.person-bottom {
  display: flex;
  margin: 32px 0 0 0;
}

.person-bottom span {
  flex: 0 0 48px;
  height: 48px;
  margin: 0 24px 0 0;
}

.person-bottom span img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.person-bottom p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-bottom p strong {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #2A326D;
  margin: 0 0 4px 0;
}

.person-bottom p small {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: #2A326D;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #878787;
}

h2,
.h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
}

h2 span,
.h2 span {
  color: #1ED760;
}

h1,
.h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.blog-cards {
  margin: 45px 0 150px;
}

.blog-cards__title {
  margin: 0 0 57px 0;
  text-align: center;
}

.blog-cards__title p {
  margin: 32px 0 0 0;
}

.blog-cards__title p strong {
  font-size: 24px;
  line-height: 32px;
  color: #2A326D;
}

.blog-cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: -42px -15px;
}

.blog-cards__list > li {
  margin: 42px 15px;
  width: calc((100% - 90px) / 3);
}

.blog-cards__list > li .card {
  display: flex;
  flex-direction: column;
}

.blog-cards__list > li .card._large .card__img {
  height: 312px;
}

.blog-cards__list > li .card__img {
  height: 224px;
  margin: 0 0 32px 0;
  position: relative;
  border-radius: 8px;
}

.blog-cards__list > li .card__img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: 500ms;
}

.blog-cards__list > li .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.blog-cards__list > li .card .description__top {
  margin: 0 0 16px 0;
}

.blog-cards__list > li .card .description__content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #878787;
}

.blog-cards__list > li .card .description__content p strong {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #2A326D;
  transition: 500ms;
}

.blog-cards__list > li .card .description__content p + p {
  margin: 16px 0 0 0;
}

.input-container {
  position: relative;
}

.input-container.checkbox {
  display: flex;
}

.input-container.checkbox.styled {
  position: relative;
}

.input-container.checkbox.styled input {
  border: none !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
}

.input-container.checkbox.styled input:before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #ABAECD;
  border-radius: 4px;
  transition: 500ms;
}

.input-container.checkbox.styled input:checked:after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/check-w.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.input-container.checkbox.styled input:checked:before {
  border: 2px solid #2A326D;
  background-color: #2A326D;
}

.input-container.checkbox input {
  flex: 0 0 20px;
  height: 20px;
  margin: 0 16px 0 0;
  padding: 0;
}

.input-container.checkbox p {
  font-size: 12px;
  line-height: 20px;
  color: #D3D3D8;
  font-weight: 400;
}

.input-container input,
.input-container select {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #D3D3D8;
  border-radius: 4px;
  background-color: #fff;
  transition: 300ms;
}

.input-container input::-moz-placeholder, .input-container select::-moz-placeholder {
  color: #C0C0C7;
}

.input-container input::placeholder,
.input-container select::placeholder {
  color: #C0C0C7;
}

.input-container input:focus,
.input-container select:focus {
  border: 2px solid #1ED760;
}

.input-container input:focus:invalid,
.input-container select:focus:invalid {
  border: 2px solid #FAA204;
  color: #FAA204;
}

.input-container input:focus:invalid::-moz-placeholder, .input-container select:focus:invalid::-moz-placeholder {
  color: rgba(250, 162, 4, 0.3);
}

.input-container input:focus:invalid::placeholder,
.input-container select:focus:invalid::placeholder {
  color: rgba(250, 162, 4, 0.3);
}

.input-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
}

.input-container select:invalid {
  color: #C0C0C7;
}

.input-container select [disabled] {
  color: #C0C0C7;
}

.input-wrapper {
  width: 100%;
  display: flex;
}

.input-wrapper .input-container {
  flex: 0 1 70%;
  margin: 0 16px 0 0;
}

.input-wrapper .button {
  flex: 0 1 30%;
}

.button {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  padding: 12px 16px;
  border-radius: 4px;
  transition: 500ms;
}

.button._green {
  background: #1ED760;
}

.button._blue {
  background: #2A326D;
}

.button._arrow {
  position: relative;
  padding: 18px 60px 18px 26px;
}

.button._arrow:before {
  content: "";
  position: absolute;
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("../img/price/arrow-btn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero-landing {
  position: relative;
  padding: 100px 0 180px;
  background-color: #2A326D;
}

.hero-landing:before {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 0;
  border-style: solid;
  border-width: 0 0 150px 100vw;
  border-color: transparent transparent #fff transparent;
}

.hero-landing:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-landing .container {
  position: relative;
  z-index: 2;
}

.hero-landing__title {
  margin: 0 0 30px 0;
}

.hero-landing__title h1 {
  text-align: center;
  color: #fff;
}

.hero-landing__title h1 span {
  color: #1ED760;
}

.hero-landing__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-landing__form {
  max-width: 554px;
  margin: 50px auto 0;
}

@media (min-width: 1200px) {
  .blog-cards__list > li:hover .card__img:before {
    background-color: rgba(42, 50, 109, 0.5);
  }

  .blog-cards__list > li:hover .card .description__content p strong {
    opacity: 0.7;
  }

  .button:hover._green {
    background: #1B2345;
  }

  .button:hover._blue {
    background: #1ED760;
  }
}

@media (max-width: 1199px) {
  .button {
    padding: 18px 16px;
  }
}

@media (max-width: 1023px) {
  .items-buttons {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: -6px -6px 10px;
    scrollbar-width: none;
  }

  .items-buttons::-webkit-scrollbar {
    display: none;
  }

  .person-bottom {
    margin: 24px 0 0 0;
  }

  h2,
  .h2 {
    font-size: 36px;
    line-height: 40px;
  }

  h1,
  .h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .blog-cards__list > li {
    width: calc((100% - 60px) / 2);
  }

  .input-wrapper {
    flex-direction: column;
  }

  .input-wrapper .input-container {
    flex: initial;
    margin: 0 0 16px 0;
  }

  .input-wrapper .button {
    flex: initial;
  }

  .hero-landing {
    padding: 100px 0 130px;
  }

  .hero-landing:before {
    border-width: 0 0 80px 100vw;
  }
}

@media (max-width: 767px) {
  .button._arrow {
    padding: 12px 40px 12px 16px;
  }

  .button._arrow:before {
    right: 14px;
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 567px) {
  .blog-cards.resources .blog-cards__title a {
    margin: 10px 0 0 0;
    width: 100%;
    text-align: right;
  }

  .blog-cards__list > li {
    width: calc(100% - 30px);
  }

  .blog-cards__list > li .card__img {
    height: 192px;
  }
}