h1, h2, h3, h4, h5, h6, h7 {
  color: $color-royal-blue-800;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $color-dark-gray-800;
}

h2, .h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;

  span {
    color: $color-punchy-green;
  }

  @media (max-width: 1023px) {
    font-size: 36px;
    line-height: 40px;
    br {
      display: none;
    }
  }
  @media (max-width: 567px) {
    font-size: 24px;
    line-height: 32px;
  }
}

h1, .h1, h3, .h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;

  span {
    color: $color-punchy-green;
  }

  @media(max-width: 1023px) {
    font-size: 24px;
    line-height: 32px;
  }
  @media(max-width: 567px) {
    font-size: 16px;
    line-height: 24px;
  }
}

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}