$fontfamily: "Poppins", sans-serif;
$minwidth: 320px;

//========colors:
$color-black: #1B2345;

$color-dark-gray-900: #737373;
$color-dark-gray-800: #878787;
$color-dark-gray-600: #D3D3D8;
$color-dark-gray-400: #E6E6E9;
$color-dark-gray-200: #F3F2F3;
$color-gray-secondary: #C0C0C7;
$color-gray-header: #F7F7F9;


$color-royal-blue-800: #2A326D;
$color-royal-blue-600: #6C7BAA;
$color-royal-blue-400: #ABAECD;
$color-royal-blue-200: #D5D7E5;
$color-dark-blue: #1B2345;

$color-white: #fff;

$color-punchy-green: #1ED760;
$color-mint-green: #DDEFDD;
$color-punchy-green-800: #A2CB94;
$color-green-light: #0C7900;

$color-bright-orange: #FAA204;




